# All hail doc master Pau
* @Paulescu

# Domain owners
/customization/ @Liquid4All/fine-tuning-team

/deployment/gpu-inference/ @Liquid4All/inference-team
/deployment/gpu-inference/baseten.mdx @tuliren
/deployment/gpu-inference/fal.mdx @tuliren
/deployment/gpu-inference/modal.mdx @tuliren
/deployment/on-device/ @Liquid4All/inference-team

/lfm/key-concepts/ @mlabonne
/lfm/models/audio-models.mdx @haerski
/lfm/models/vision-models.mdx @ankke
/lfm/models/ @mlabonne

/deployment/on-device/ios/ @iamstuffed
/deployment/on-device/android/ @iamstuffed
/deployment/tools/model-bundling/ @tuliren

/.github/workflows/ @tuliren
